@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --header-height: 4rem;
    --sidebar-width: 12rem;
    --mobile-menu-height: 5.5rem;
}

html {
    background-color: #e9f3ff;
}

html.dark {
    background-color: rgb(var(--color-gray-900)/1);
}

/* Fix the scrollbar width causing a overflow-x */

/*html ::-webkit-scrollbar {*/
/*    background-color: transparent;*/
/*    width: .6em;*/
/*    height: .6em;*/
/*}*/

/*html ::-webkit-scrollbar-track {*/
/*    --tw-bg-opacity: 1;*/
/*    background-color: rgb(var(--color-gray-100)/1);*/
/*    background-color: rgba(var(--color-gray-100)/var(--tw-bg-opacity));*/
/*}*/

/*html ::-webkit-scrollbar-thumb {*/
/*    --tw-bg-opacity: 1;*/
/*    background-color: rgb(var(--color-gray-300)/1);*/
/*    background-color: rgba(var(--color-gray-300)/var(--tw-bg-opacity));*/
/*    border-radius: .6em;*/
/*}*/

/*html ::-webkit-scrollbar-thumb:hover {*/
/*    --tw-bg-opacity: 1;*/
/*    background-color: rgb(var(--color-gray-400)/1);*/
/*    background-color: rgba(var(--color-gray-400)/var(--tw-bg-opacity));*/
/*}*/

/*html.dark ::-webkit-scrollbar-track {*/
/*    --tw-bg-opacity: 1;*/
/*    background-color: rgb(var(--color-gray-800)/1);*/
/*    background-color: rgba(var(--color-gray-800)/var(--tw-bg-opacity));*/
/*}*/

/*html.dark ::-webkit-scrollbar-thumb {*/
/*    --tw-bg-opacity: 1;*/
/*    background-color: rgb(var(--color-gray-700)/1);*/
/*    background-color: rgba(var(--color-gray-700)/var(--tw-bg-opacity));*/
/*}*/

/*html.dark ::-webkit-scrollbar-thumb:hover {*/
/*    --tw-bg-opacity: 1;*/
/*    background-color: rgb(var(--color-gray-600)/1);*/
/*    background-color: rgba(var(--color-gray-600)/var(--tw-bg-opacity));*/
/*}*/

::-webkit-scrollbar {
    width: 7px;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #04070A;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0085BD;
}
::-webkit-scrollbar {
    display: none;
}