doctype html
html
    head
        title Confirm your email
    body
        h1 Confirm your email
        p Please confirm your email by clicking the button below.
        p
        a(href=link target="_blank") Confirm my email
        p
        p Or paste the following link into your browser:
        p
        a(href=link target="_blank") #{link}
        p This link will expire in 1 hour.