doctype html
html
    head
        title Reset your password
    body
        h1 Reset your password
        p Please reset your password by clicking the button below.
        p
        a(href=link target="_blank") Reset my password
        p
        p Or paste the following link into your browser:
        p
        a(href=link target="_blank") #{link}
        p This link will expire in 30 minutes.
